body{
    text-align: center;
}
.btn{
    height: 200px;
    width: 200px;
    border-radius: 20%;
    border: 10px solid black;
    margin: 5px;
}
.btn-container{
    display: flex;
    justify-content: center;
}
.red {
    background-color: rgb(195, 32, 97);
}
.yellow {
    background-color: rgb(250, 142, 19);
}
.green {
    background-color: rgb(47, 152, 147);
}
.blue {
    background-color: rgb(18, 143, 226);
}
.flash{
    background-color: white;
}